In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
ser = Series(np.random.randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

ser

In [4]:
ser

1  a   -0.743288
   b   -0.965305
   c   -1.531163
2  a   -2.895577
   b   -0.993559
   c   -0.623086
dtype: float64

In [5]:
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
ser[1]

a   -0.743288
b   -0.965305
c   -1.531163
dtype: float64

In [7]:
ser[:,'a']

1   -0.743288
2   -2.895577
dtype: float64

In [9]:
dframe = ser.unstack()

In [10]:
dframe

          a         b         c
1 -0.743288 -0.965305 -1.531163
2 -2.895577 -0.993559 -0.623086

In [11]:
dframe.unstack()

a  1   -0.743288
   2   -2.895577
b  1   -0.965305
   2   -0.993559
c  1   -1.531163
   2   -0.623086
dtype: float64

In [12]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),
                   index=[['a','a','b','b'],[1,2,1,2]],
                   columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])

In [13]:
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15