In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [4]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [6]:
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [7]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [8]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [9]:
ranger = range(15)

In [10]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [11]:
type(ranger)

list

In [12]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [14]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],
                  columns=['col1','col2','col3','col4','col5'])

In [15]:
dframe

       col1      col2      col3      col4      col5
A  0.305971  0.428221  1.138792 -0.895018  0.405695
B  0.169263 -0.194934 -0.103033  0.202768 -1.693333
D -0.434276  1.851389 -0.679723  0.908334  0.199691
E  1.628442 -0.770926  0.650228  0.085561  0.585076
F  0.446751  0.733175 -1.991973 -0.623406  0.447658

In [16]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [17]:
dframe2

       col1      col2      col3      col4      col5
A  0.305971  0.428221  1.138792 -0.895018  0.405695
B  0.169263 -0.194934 -0.103033  0.202768 -1.693333
C       NaN       NaN       NaN       NaN       NaN
D -0.434276  1.851389 -0.679723  0.908334  0.199691
E  1.628442 -0.770926  0.650228  0.085561  0.585076
F  0.446751  0.733175 -1.991973 -0.623406  0.447658

In [18]:
new_columns=['col1','col2','col3','col4','col5','col6']

In [19]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.305971  0.428221  1.138792 -0.895018  0.405695   NaN
B  0.169263 -0.194934 -0.103033  0.202768 -1.693333   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.434276  1.851389 -0.679723  0.908334  0.199691   NaN
E  1.628442 -0.770926  0.650228  0.085561  0.585076   NaN
F  0.446751  0.733175 -1.991973 -0.623406  0.447658   NaN

In [20]:
dframe

       col1      col2      col3      col4      col5
A  0.305971  0.428221  1.138792 -0.895018  0.405695
B  0.169263 -0.194934 -0.103033  0.202768 -1.693333
D -0.434276  1.851389 -0.679723  0.908334  0.199691
E  1.628442 -0.770926  0.650228  0.085561  0.585076
F  0.446751  0.733175 -1.991973 -0.623406  0.447658

In [21]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A  0.305971  0.428221  1.138792 -0.895018  0.405695   NaN
B  0.169263 -0.194934 -0.103033  0.202768 -1.693333   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.434276  1.851389 -0.679723  0.908334  0.199691   NaN
E  1.628442 -0.770926  0.650228  0.085561  0.585076   NaN
F  0.446751  0.733175 -1.991973 -0.623406  0.447658   NaN